@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Roboto');

/*
To-Do:
2. Portfolio Page
3. Responsive Design
4. Logo
5. Cleanup Formatting
6. Contact Form on Server
*/



body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Abel", sans-serif;
  color: white;
}

section {
  min-height: 100vh;
}

.layer {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(100, 124, 155, 0.7);
}

.title {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-family: "Abel", sans-serif;
  font-size: 60px;
}

.section-title {
  padding-top: 75px;
  margin-bottom: 50px;
}

/***** NAVBAR *****/

nav {
  height: 75px;
}

.nav-link {
  font-family: "Abel", sans-serif;
}

/***** MAIN SECTION *****/

#main {
  width: 100vw;
  background-image: url("../images/main.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#title-container {
  width: 100%;
  padding-top: 35vh;
}

#resume-button {
  font-family: "Abel", sans-serif;
  font-size: 22.5px;
  text-align: center;
  color: white;
  width: 100px;
  margin: auto;
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 50px;
}

#resume-button a {
  text-decoration: none;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    color: white;
    text-align: center;
}

.footer-icon {
  font-size: 20px;
  width: 50px;
  height: 50px;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  color: white;
  border: 1px solid white;
}

.footer-icon:hover {
    opacity: 0.7;
    color: lightgrey;
    border: 1px solid white;
    text-decoration: none;
}

/***** PORTFOLIO SECTION *****/

#portfolio {
  width: 100vw;
  /* height: 100vh; */
  background-image: url("../images/portfolio.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.portfolio-item {
  width: 100%;
  background-color: grey;
  height: 125px;
  text-align: center;
}

/***** CONTACT SECTION *****/

#contact {
  width: 100vw;
  /* height: 100vh; */
  background-image: url("../images/contact.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.contact-icon {
  width: 15px;
  margin-right: 10px;
}

/***** RESUME SECTION *****/

#resume {
  width: 100vw;
  /* height: 100vh; */

}

.resume-layer {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(100, 124, 155, 0.7);
  padding-top: 35%;
}

#left {
  width: 50vw;
  height: auto;
  min-height: 100vh;
  float: left;
  background-image: url("../images/resume.jpg");;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}

#right {
  width: 50vw;
  height: 100vh;
  float: left;
  background-color: rgba(220,220,220, 0.3);
  color: black;
  overflow-x: hidden;
  overflow-y: scroll;
}

#details {
  text-align: center;
  font-size: 18px;
}

#details p {
  margin: 5px;
}

#resume-name {
  font-size: 35px;
}

#dots {
  font-size: 30px;
}

#icons {
  margin-bottom: 35px;
}

.resume-icon {
  width: 25px;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  color: white;
}

.resume-icon:hover {
    opacity: 0.7;
    color: lightgrey;
    text-decoration: none;
}

.resume-section {
  margin-top: 30px;
}

.resume-section-title {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: rgb(100, 124, 155);
}

.resume-link {
  color: black;
}

.resume-link:hover {
  text-decoration: none;
  color: black;
}

.education-school {
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
}

.education-degree {
  font-style: italic;
  margin: 0;
}

.education-major {
  margin: 0;
}

.education-gpa {

}

.education-coursework {
  margin: 0;
  margin-top: 10px;
}

.coursework-list {

}

.education-date {
  color: rgb(100, 124, 155);
  font-weight: bold;
}

.experience-company {
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
}

.experience-position {
  margin: 0;
  font-style: italic;
}

.experience-description {
  margin: 0;
}

.experience-desc-list {

}

.experience-date {
  color: rgb(100, 124, 155);
  font-weight: bold;
}

.activities-name {
  font-weight: bold;
}

.activities-description {
  margin: 0;
}

.activities-desc-list {

}

.activities-date {
  color: rgb(100, 124, 155);
  font-weight: bold;
}

.awards-name {

}

.awards-description {

}

.awards-date {
  color: rgb(100, 124, 155);
  font-weight: bold;
}

.resume-button {
  font-family: "Abel", sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
  width: 125px;
  margin: auto;
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 20px;
}

.resume-button a {
  text-decoration: none;
}
