@font-face {
  font-family: 'MarioKart';
  src: url('mario_kart_f2.ttf');
}

body {
	font-family: 'MarioKart';
}

h1 {
	text-align: center;
}

p {
	text-align: center;
}

#mario {
	width: 49%;
	height: 800px;
	background-color: red;
	display: inline-block;
}

#luigi {
	width: 49%;
	height: 800px;
	background-color: green;	
	display: inline-block;
}

#red {
	color: red;
}

#green {
	color: green;
}

img {
	display: inline;
	height: 300px;
	margin-left: 35%;
	margin-top: 100px;
}
